<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="index.js") }}"></script>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1 id="greeting"></h1>
    <div id="display"></div>
    <div id="inputArea">
        <textarea id="msgInput" name="message"></textarea>
        <input id="msgSubmit" type="button" value="Submit" />
    </div>
</body>
</html>