<!DOCTYPE html>
<html lang="en">
<head>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="{{ url_for("static", filename="index.js") }}"></script>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body onload="askName()">
    <h1 id="greeting"></h1>
    <div id="display"></div>
    <div id="inputArea">
        <textarea id="msgInput" name="message"></textarea>
        <input id="msgSubmit" type="button" value="Submit" />
    </div>
    <div>
        <h3>Online Users</h3>
        <ul id="onlineUsers">
        </ul>
    </div>
</body>
</html>